body{
	color: white;
	background-color: black;
}
h1{
	font-size: 50px;
}
#info h2{
	font-size: 30px;
}

#loginsignup{
	background-color: white;
	color: black;

}

#loginsignup a{
	font-size: 28px;
	text-decoration: none;
	color: black;
}

#loginsignup a:hover{
	color: black;
	background-color: lightgrey;
	font-weight: bold;
	text-decoration: none;
}

a{
	text-decoration: none;
	color: white;
}

a:hover{
	color: black;
	background-color: white;
	font-weight: bold;
	text-decoration: underline;
}
a:active{
	color: black;
}
a:visted{
	color: grey;
}




