body{
	color: white;
	background-color: black;
}
a{
	font-size: 25px;
	text-decoration: none;
	color: white;
	text-decoration: underline;
}

a:hover{
	color: black;
	background-color: white;
	font-weight: bold;
	text-decoration: underline;
}